<ion-content [fullscreen]="true" color="cast-bg ion-padding">

  <ion-row class="ion-justify-content-between ion-align-items-center ion-margin-vertical">
    <ion-col size="2">
      <div class="circularIconBtn" routerLink="/" routerDirection="back">
        <ion-buttons fill="solid" slot="start" mode="md">
          <ion-button mode="ios">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-col>
   
    <ion-col size="2">
      <div class="circularIconBtn">
        <ion-buttons fill="solid" slot="end" mode="md">
          <ion-button mode="ios">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-col>
  </ion-row>

  <section>
    <div class="cover-art">
      <img [src]="podcast?.cover" alt="" />
      <ion-label> {{podcast?.title}}<span class="channel-name">{{" ("+podcast?.podcast+")"}}</span> </ion-label>

    </div>
  </section>

  <ion-row class="ion-margin-vertical ion-align-items-center ion-justify-content-between">
    <ion-col size="3">
      <div class="circularIconBtn">
        <ion-buttons fill="solid" slot="end" mode="md">
          <ion-button mode="ios">
            <ion-icon name="share-social"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="circularIconBtn">
        <ion-buttons fill="solid" slot="end" mode="md">
          <ion-button mode="ios">
            <ion-icon name="arrow-down"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="circularIconBtn">
        <ion-buttons fill="solid" slot="end" mode="md">
          <ion-button mode="ios">
            <ion-icon name="bookmark-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-col>
    
  </ion-row>

  <section class="play-control">
    <ion-range
      #range
      [(ngModel)]="progress"
      max="100"
      (touchend)="seek()"
      (mouseup)="seek()"
    ></ion-range>

    <ion-row class="ion-align-items-center ion-justify-content-between">
      <ion-col style="text-align: left;" size="3" class="ion-no-padding">
        <ion-text color="medium">
          {{this.seekTime.minutes.toString()+":"+this.seekTime.seconds.toString()}}
        </ion-text>
      </ion-col>
      <ion-col style="text-align: center;" size="3" class="ion-no-padding">
        <ion-text color="medium">
          {{this.minutesLeft}}
        </ion-text>
      </ion-col>
      <ion-col style="text-align: right;" size="3" class="ion-no-padding">
        <ion-text color="medium">
          {{this.totalTime.minutes.toString()+":"+this.totalTime.seconds.toString()}}
        </ion-text>
      </ion-col>
    </ion-row>

    <div class="controls">
      <ion-buttons mode="md">
        <ion-button mode="ios" (click)="seekBack()" size="large">
          <img src="/assets/icon/seek-back.svg" alt="" />
        </ion-button>
        <ion-button
          mode="ios"
          (click)="togglePlay(false)"
          size="large"
          *ngIf="!isPlaying"
          size="large"
        >
          <ion-icon name="play-circle" class="play"></ion-icon>
        </ion-button>
        <ion-button
          mode="ios"
          (click)="togglePlay(true)"
          size="large"
          *ngIf="isPlaying"
          size="large"
        >
          <ion-icon name="pause-circle" class="play"></ion-icon>
        </ion-button>
        <ion-button mode="ios" (click)="seekForward()" size="large">
          <img src="/assets/icon/seek-forward.svg" />
        </ion-button>
      </ion-buttons>
    </div>
  </section>
</ion-content>
