<ion-toolbar mode="md">
  <ion-title> Profile </ion-title>
</ion-toolbar>
<ion-content class="ion-padding">
  <!-- List of Text Items -->
  <ion-list>
    <ion-item lines="full">
      <ion-label slot="start">Name</ion-label>
      <ion-note slot="end">Mitchell Spencer</ion-note>
    </ion-item>
    <ion-item lines="full">
      <ion-label slot="start">Username</ion-label>
      <ion-note slot="end">&#64;Mitchell123</ion-note>
    </ion-item>
    <ion-item lines="full">
      <ion-label slot="start">City</ion-label>
      <ion-note slot="end">Manchester</ion-note>
    </ion-item>
    <ion-item lines="full">
      <ion-label slot="start">Subscription</ion-label>
      <ion-note slot="end">Premium</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
